body {
	background-color: #f0f0f0;
	font-family: sans-serif;
	background-color: #000;
	margin: 0;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

#body {
	position: fixed;
}

p {
	clear: both;
	width: 312px;
	text-align: center;
	color: #fff;
	background-color: #000;
	margin: 4px;
}

a {
	color: #fff;
}

h1 {
	width: 312px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	margin: 4px;
}

.buttonbar {
	width: 312px;
	z-index: 999;
	background-color: #000;
	padding: 0;
	margin: 4px;
}

.buttonbar button {
	display: block;
	float: left;
	width: 58.7px;
	height: 60px;
	color: #fff;
	background-color: #000;
	padding: 0;
	margin: 1px;
	border: 2px solid #fff;
}

.statusbar {
	width: 312px;
	z-index: 999;
	background-color: #000;
	padding: 0;
	margin: 4px;
}

.statusbar div {
	display: block;
	float: left;
	width: 17.375px;
	height: 17.375px;
	color: #fff;
	background-color: #666;
	border: 1px solid #000;
}

.links {
	font-size: 18px;
	line-height: 150%;
}

#status {
	color: #999;
	font-style: italic;
	line-height: 150%;
}

.bluecheck {
	background-image: url('bluecheck.png');
}

.yellowcheck {
	background-image: url('yellowcheck.png');
}
